.pos {
    position: absolute;
    top: 50%;
    left: 50%;
}

.no-backside {
    backface-visibility: hidden;
}

.rotate-y-0 {
    transform: translate(-50%, -50%) rotateY(0deg);
}

.rotate-y-180 {
    transform: translate(-50%, -50%) rotateY(180deg);
}